/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typo */
body{
    background-color: #111111;
}

/* button */
button{
    background-color: #0a0b0b;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn-view{
    padding: 5px;
}

.btn-end{
    background-color: red;
    padding: 5px 15px;
}

.btn-footer{
    background-color: #1b1b1b;
    color: #a8a8a8;
}

/* bg-image */
.bg-1{
    background-image: url(https://images.unsplash.com/flagged/1/apple-gear-looking-pretty.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}

.bg-2{
    background-image: url(https://picsum.photos/id/1/367/267);
}

.bg-3{
    background-image: url(https://picsum.photos/id/10/367/267);
}

.bg-4{
    background-image: url(https://picsum.photos/id/100/367/267);
}

.bg-5{
    background-image: url(https://picsum.photos/id/1000/367/267);
}

.bg-6{
    background-image: url(https://picsum.photos/id/1001/367/267);
}

/* margin left */

.margin-right{
    margin-right: 10px;
}

/* color */
.green{
    color: lawngreen;
}


/* header */
header{
    display: flex;
    padding: 5px;
}

.header-left, .header-right{
    width: 50%;
}

.header-left{
    display: flex;
    align-items: center;
}

.shield, .recording{
    background-color: #0a0b0b;
    padding: 5px;
    border-radius: 5px;    
}

.shield{
    color: green;
    margin-right: 10px;    
}

.recording{
    color: white;
    display: flex;
    gap: 20px;
    padding: 5px 10px;
}

.header-right{
    text-align: right;
}

/* main */
main{
    height: calc(100vh - 38px - 53px);
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.user{
    width: calc(100% / 6 - 5px);
    height: calc(100% / 6 - 5px);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    position: relative;
}

.name{
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: white;
}

.microphone-red{
    color: red;
    padding-right: 5px;
}

/* footer */
footer{
    background-color: #1b1b1b;
    color: #a8a8a8;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left, .footer-middle, .footer-right{
    display: flex;    
}

.footer-left{
    width: 25%;
    text-align: center;
    gap: 30px;
}

.footer-middle{
    width: 50%;
    justify-content: center;
}

.footer-middle ul{
    display: flex;
    list-style: none;
    text-align: center;
    gap: 30px;
}

.footer-right{
    width: 25%;
    justify-content: flex-end;
}


footer i{
    font-size: 20px;
    margin-bottom: 5px;
}

.btn-chevron{
    position: relative;
}

.btn-chevron::after{
    content: '^';
    position: absolute;
    top: 0;
    right: 0;
}

footer span{
    font-size: 12px;
}